/*mixins*/
/*media query*/
/*custom grid system*/
.custom-row {
  font-size: 0; }
  .custom-row .custom-col-8 {
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 2em;
    padding-left: 0;
    padding-right: 0;
    width: 11.1111111111%;
    vertical-align: center; }

* {
  font-family: "Karla", sans-serif;
  font-family: "El Messiri", sans-serif;
  box-sizing: border-box;
  transition: all 0.4s ease; }

body {
  background-repeat: no-repeat; }

.scale0 {
  transform: scale(0); }

.rotate1 {
  transform: rotate(360deg); }

/*scroll top button*/
.fa-chevron-circle-up {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  z-index: 9999;
  border-radius: 51%;
  display: none;
  cursor: pointer; }
  @media (min-width: 0px) and (max-width: 768px) {
    .fa-chevron-circle-up {
      font-size: 30px;
      transform: scale(1.1); } }
  .fa-chevron-circle-up:hover {
    transform: scale(1.2); }

/*contact button*/
.fa-comments {
  position: fixed;
  left: 2rem;
  bottom: 1rem;
  font-size: 40px;
  z-index: 9999;
  cursor: pointer; }
  @media (min-width: 0) and (max-width: 768px) {
    .fa-comments {
      font-size: 25px; } }
  .fa-comments:hover {
    transform: scale(1.1); }

/*contact div*/
.chat {
  background: #fff;
  position: fixed;
  left: 2rem;
  bottom: 3.4rem;
  width: 18rem;
  height: 25rem;
  z-index: 9999;
  box-shadow: 0 0 10px #000;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0s;
  transition: width 0.5s ease;
  display: none; }
  @media (min-width: 0) and (max-width: 512px) {
    .chat {
      width: 10rem; } }
  .chat textarea {
    resize: none;
    height: 6rem; }

/*toggler class*/
.on {
  background: #086510; }

.off {
  background: #bc0f0f; }
  .off div {
    right: 0; }

.opacity0 {
  opacity: 0; }

/*centerd logo*/
.logo-center {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
  width: 125px;
  height: 158px;
  transition: transform 1s ease; }

.animated-chat {
  display: none;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 10000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  overflow: scroll;
  padding-bottom: 80px;
  background-image: url(../../images/others/messger.PNG);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom; }
  .animated-chat .user, .animated-chat .bot, .animated-chat .options {
    background: #0093ff;
    border-radius: 10px 20px 20px 10px;
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
    color: #333;
    transition: all 0.3 ease; }
  .animated-chat .bot, .animated-chat .options {
    border-radius: 10px 20px 0px 10px;
    background: rgba(240, 240, 240, 0.7); }
  .animated-chat .options {
    background: transparent;
    border-radius: 10px 0px 20px 10px;
    border: 1px solid #e6e6e6; }

/* AOS custom animation*/
[data-aos="mycustom"] {
  opacity: 0;
  transform: scale(1.5); }

[data-aos="mycustom"].aos-animate {
  opacity: 1;
  transform: scale(1); }

/*header*/
header nav::after {
  content: "";
  background: bottom/100% auto no-repeat;
  background-image: url("../../images/letters/ruler_default.svg");
  opacity: 0.4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }
header nav .navbar-brand:focus {
  border: none; }
header nav .navbar-brand img {
  height: 39.25px;
  width: 103.5px;
  transition: all 0s; }

.home-background {
  background-image: url("../../images/backgrounds/Home.svg");
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10; }

/*quote section*/
.readLess {
  outline: none;
  box-shadow: none; }
  .readLess:focus, .readLess:active, .readLess:hover {
    border: transparent; }

.quote {
  padding-top: 100px; }
  .quote .jumbotron {
    position: relative;
    border-radius: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 -3px 6px rgba(0, 0, 0, 0.23); }
    .quote .jumbotron .display-4 {
      font-size: 3rem; }
  .quote .gif {
    background-size: contain;
    background-image: url("../../images/mockups/iphone6.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px; }
    @media (min-width: 0px) and (max-width: 341px) {
      .quote .gif {
        width: 225px;
        height: 375px; } }
    .quote .gif::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      opacity: 1;
      background-size: contain;
      background-image: url("../../images/gifs/chatbotCnoversation.svg");
      transform: scale(0.766);
      background-repeat: no-repeat;
      background-position: center center; }

/*blgos*/
.blogs {
  background: #fff;
  height: 600px;
  padding: 40px;
  padding-top: 60px; }
  @media (min-width: 0) and (max-width: 1226px) {
    .blogs {
      height: auto; } }
  @media (min-width: 0px) and (max-width: 992px) {
    .blogs .display-4 {
      font-size: 2.5rem; } }
  .blogs .blogs__title {
    font-size: 50px;
    color: #333;
    text-align: left;
    text-transform: uppercase; }
    .blogs .blogs__title span {
      color: #f28f27; }
    .blogs .blogs__title:last-of-type::after {
      content: "";
      display: block;
      width: 100px;
      height: 4px;
      background: #f28f27;
      margin-bottom: 30px; }
  .blogs .blogs__text {
    text-align: left;
    font-size: 25px; }
  .blogs .blog-cards-container {
    position: relative; }
    @media (min-width: 0) and (max-width: 1226px) {
      .blogs .blog-cards-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; } }
  .blogs .blog-card {
    background: #fff;
    width: 500px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
    height: 200px;
    position: absolute;
    overflow: hidden;
    transition: all 1s ease; }
    @media (min-width: 0) and (max-width: 1226px) {
      .blogs .blog-card {
        position: static;
        width: 400px; } }
    .blogs .blog-card:not(:last-of-type) {
      margin-bottom: 25px; }
    .blogs .blog-card * {
      text-align: left; }
    .blogs .blog-card:nth-of-type(1) {
      left: 67px;
      top: 262px; }
    .blogs .blog-card:nth-of-type(2) {
      right: 117px;
      top: 90px; }
    .blogs .blog-card:nth-of-type(3) {
      left: -124px;
      top: 159px; }
      @media (min-width: 0) and (max-width: 1226px) {
        .blogs .blog-card:nth-of-type(3) {
          margin-left: -15px; } }
    @media (min-width: 0) and (max-width: 1226px) {
      .blogs .blog-card:nth-of-type(even) {
        margin-right: -15px; } }
    @media (min-width: 0) and (max-width: 1226px) {
      .blogs .blog-card:nth-of-type(odd) {
        margin-left: -15px; } }
    .blogs .blog-card:hover {
      z-index: 999 !important;
      transform: scale(1.1);
      transition: all 0.7s ease; }
  .blogs .blog-card__img-container {
    display: flex;
    flex-direction: column;
    height: 70%; }
  .blogs .blog-card__img {
    object-fit: cover;
    height: 100%; }
  .blogs .blog-card__content {
    max-width: 100%;
    padding: 10px; }
  .blogs .blog-card__title {
    color: #333;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700; }
  .blogs .blog-card__text {
    color: #777;
    font-size: 14px; }

/* services */
.services {
  padding: 10px;
  background-image: url("../../images/backgrounds/videoBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  position: relative; }
  .services ul {
    margin-top: 25px; }
  .services h2.service-title-describtion {
    font-weight: bolder;
    margin: 0 5px;
    text-transform: capitalize;
    display: inline; }
  .services .typeIcon {
    font-size: 30px; }
  .services .fa-custom-slash {
    font-weight: 900 !important; }
  .services::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  @media (min-width: 0px) and (max-width: 768px) {
    .services {
      margin-bottom: 6rem !important; } }
  .services .carousel-inner h4 {
    font-size: 1.2rem; }
    @media (min-width: 0) and (max-width: 768px) {
      .services .carousel-inner h4 {
        font-size: 18px; } }
  @media (min-width: 0) and (max-width: 768px) {
    .services .carousel-inner .display-4 {
      font-size: 30px; } }
  .services .carousel-inner li {
    list-style-type: none;
    font-size: 16px; }
    @media (min-width: 0) and (max-width: 768px) {
      .services .carousel-inner li {
        font-size: 16px; } }
    .services .carousel-inner li::before {
      content: "\203A";
      display: inline-block;
      font-size: 30px;
      margin: 0 5px; }
  .services .carousel-indicators {
    bottom: -190px; }
    @media (min-width: 0px) and (max-width: 767px) {
      .services .carousel-indicators {
        bottom: -100px; } }
    .services .carousel-indicators li {
      width: auto;
      height: auto;
      text-indent: 0;
      padding: 10px;
      border-radius: 10%;
      color: #fff; }
      @media (min-width: 0px) and (max-width: 500px) {
        .services .carousel-indicators li {
          padding: 5px; } }
      @media (min-width: 0px) and (max-width: 768px) {
        .services .carousel-indicators li .fa-3x {
          font-size: 1.75em; } }
      @media (min-width: 0px) and (max-width: 500px) {
        .services .carousel-indicators li .fa-3x {
          font-size: 1em; } }

/*testimonials*/
.testimonial .carousel {
  margin-top: 12rem; }
.testimonial .card {
  padding-top: 10px; }
.testimonial ol {
  bottom: -67px; }
.testimonial .profile-img__container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border-radius: 50%; }
  .testimonial .profile-img__container img {
    object-fit: cover;
    height: 100%;
    border-radius: 50%; }

/*letters*/
.letters {
  margin-top: 80px;
  margin: 100px auto; }
  .letters .letter-describtion {
    font-size: 25px; }
    @media (min-width: 0) and (max-width: 520px) {
      .letters .letter-describtion {
        font-size: 20px; } }

/*achievements*/
.achieve {
  margin: 250px auto 150px auto; }
  .achieve .img-wrabber {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px; }
    @media (min-width: 0px) and (max-width: 991px) {
      .achieve .img-wrabber {
        margin: auto;
        width: 150px;
        height: 150px; } }
    @media (min-width: 0px) and (max-width: 576px) {
      .achieve .img-wrabber {
        margin: auto;
        width: 100px;
        height: 100px; } }
  .achieve .img-wrabber:nth-child(1) {
    background-image: url("http://placehold.it/200/400"); }

/*about*/
.about {
  /*time-line*/ }
  @media (min-width: 0px) and (max-width: 768px) {
    .about .display-4 {
      font-size: 2.5rem; } }
  .about .timeline {
    display: flex;
    justify-content: center;
    align-items: center; }
  .about .timeline__bullets-container {
    position: relative;
    height: 1000px;
    width: 3px;
    background-color: #333; }
  .about .timeline__bullet {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #efefef;
    border-radius: 50%;
    left: -10px; }
    .about .timeline__bullet:nth-of-type(odd) .card-custom {
      left: 50px; }
    .about .timeline__bullet:nth-of-type(even) .card-custom {
      left: -50px;
      float: right; }
@keyframes wiggle {
  from {
    box-shadow: 0 0 0 #333; }
  to {
    box-shadow: 0 0 100px #333; } }
  .about .timeline__bullet:nth-of-type(2) {
    top: 250px; }
  .about .timeline__bullet:nth-of-type(3) {
    top: 500px; }
  .about .timeline__bullet:nth-of-type(4) {
    top: 750px; }
  .about .wiggle {
    animation: wiggle 1s linear 0s infinite normal running; }
  .about .card-custom {
    position: relative;
    top: -25px;
    width: 300px;
    height: 300px;
    background: #efefef;
    border: 1px solid rgba(150, 150, 150, 0.7);
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;
    transform: scale(0);
    opacity: 0;
    transition: transform 1s ease; }
    .about .card-custom .card-custom__text {
      padding-top: 20px; }
    @media (min-width: 0) and (max-width: 710px) {
      .about .card-custom {
        width: 150px;
        height: 150px; } }
    .about .card-custom.active {
      transform: scale(1);
      opacity: 1;
      transition: transform 1s ease; }
    .about .card-custom .img-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column; }
    .about .card-custom img {
      object-fit: cover;
      height: 100%;
      border-radius: 0 0 80px 80px; }
      .about .card-custom img:hover {
        border-radius: 0;
        transition: all 1s ease, border-radius 2s ease-in-out; }
  .about .inner {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50%;
    text-align: center;
    border-radius: 0 0 80px 80px;
    top: -90px;
    right: -250px;
    transition: all 1s ease, border-radius 2s ease-in-out; }
  .about .inner.active,
  .about .inner.active img {
    right: 0;
    top: 0;
    width: 100%;
    border-radius: 0;
    transition: all 1s ease, border-radius 2s ease-in-out; }

/*auto typing*/
.auto-typing {
  transition: all 0;
  margin-bottom: 150px !important;
  margin-top: 100px !important; }
  @media (min-width: 0px) and (max-width: 768px) {
    .auto-typing {
      font-size: 2.5rem; } }
  @media (min-width: 0px) and (max-width: 300px) {
    .auto-typing {
      font-size: 2rem; } }

/*footer*/
footer {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  footer a {
    color: #333; }
    footer a:hover {
      color: #333; }
    footer a i {
      margin-right: 3%;
      font-size: 30px;
      opacity: 0.7; }
      footer a i.fa-map-marker:hover {
        color: #333;
        opacity: 1; }
      footer a i.fa-facebook-square:hover {
        color: #3b5998;
        opacity: 1; }
      footer a i.fa-twitter-square:hover {
        color: #00aced;
        opacity: 1; }
      footer a i.fa-instagram:hover {
        color: #bc2a8d;
        opacity: 1; }
      footer a i.fa-google-plus-square:hover {
        color: #dd4b39;
        opacity: 1; }
  footer .copy {
    font-size: 20px; }
  footer li::before {
    content: "\2192";
    font-size: 20px;
    margin-right: 5px; }
  footer .social-cont {
    position: relative; }
    footer .social-cont .social {
      position: absolute;
      bottom: 0; }
      @media (min-width: 0px) and (max-width: 768px) {
        footer .social-cont .social {
          position: static; } }
  footer .hiring, footer .when-hiring-hidden {
    background: #333;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    z-index: 1; }
  footer .when-hiring-hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 94.5%;
    z-index: -1; }
  footer .toggle-btn-container {
    width: 75px;
    height: 37.5px;
    border-radius: 9999px;
    position: relative;
    padding-top: 2.3px; }
    footer .toggle-btn-container .toggle-btn {
      height: 33.5px;
      width: 33.5px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      box-shadow: 0 0 10px #000; }

.color-box {
  background: rgba(51, 51, 51, 0.58);
  position: fixed;
  top: 180px;
  left: 2px;
  width: 100px;
  z-index: 9999;
  padding: 10px;
  border-radius: 10px;
  display: none;
  transition: none; }
  .color-box span {
    display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 15px auto; }
    .color-box span:hover {
      transform: scale(1.3); }
  .color-box #default {
    background: #267cb2; }
  .color-box #style1 {
    background: #fd9644; }

.fa-cog {
  position: fixed;
  top: 307px;
  left: 10px;
  color: rgba(51, 51, 51, 0.7);
  z-index: 9999; }
  .fa-cog:hover {
    font-size: 2.5em; }

#progress {
  background: #000;
  border-radius: 50%;
  overflow: visible; }

.team-work {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 150px; }
  .team-work::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1; }
  .team-work::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    background-image: url("../../images/backgrounds/teamWork.JPG");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }

.team-work__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  z-index: 2;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px; }

.team-work__title {
  position: relative;
  color: #fff;
  font-size: 30px; }
  @media (min-width: 0) and (max-width: 710px) {
    .team-work__title {
      font-size: 20px; } }
  .team-work__title::after, .team-work__title::before {
    content: "";
    display: block;
    background: #fff;
    width: 70%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    /*   animation: name duration timing-function delay iteration-count direction fill-mode; */ }
  .team-work__title::after {
    background-color: #f28f27;
    width: 0;
    transition: width 0.7s ease; }

.team-work:hover .team-work__title::after {
  width: 70%;
  transition: width 0.7s ease; }

.statistics-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-bottom: 50px; }
  @media (min-width: 0) and (max-width: 710px) {
    .statistics-container {
      flex-direction: column;
      align-items: space-around; } }

.statisitic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .statisitic span {
    display: block;
    text-transform: none; }
  .statisitic .icon {
    color: #fff;
    border: 5px solid #fff;
    padding: 10px;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 5px; }
    @media (min-width: 0) and (max-width: 710px) {
      .statisitic .icon {
        width: 50px;
        height: 50px; } }
    .statisitic .icon i {
      font-size: 30px; }
      @media (min-width: 0) and (max-width: 710px) {
        .statisitic .icon i {
          font-size: 15px; } }
  .statisitic .title {
    color: #efefef;
    font-size: 25px;
    text-transform: capitalize; }
    @media (min-width: 0) and (max-width: 710px) {
      .statisitic .title {
        font-size: 16px; } }
  .statisitic .number {
    color: #f28f27;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
    @media (min-width: 0) and (max-width: 710px) {
      .statisitic .number {
        font-size: 20px; } }

/*# sourceMappingURL=main.css.map */
